@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


body {
  background:url(food-truck-antillais.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 height:100%;
 overflow-x: hidden;

}


.container {
 max-width: 550px;
 width: 100%;
 margin: 0 auto;
}

.grid > div {
  display: flex;
justify-content: space-between;
align-items: flex-start;
}

img{max-width: 100%;
width: 100%;
height: auto;}

.square{
  width: 23%;
  position: relative;
}

.hole{
 left: 0;
  position: absolute;
  bottom:-1em;
}

.title {
  text-align: center;
  color: white;
  background-color:rgb(38, 150, 38);
letter-spacing: 1px;
padding:0.5em;
margin-top: 0.5em;
word-spacing: 1px;
border-radius: 300px;
outline:none;

}
.title-timer,.title-score,.title-no_bokits,title {
  text-align: center;
  color: white;
  background-color:rgb(38, 150, 38);
  letter-spacing: 1px;
padding:0.5em;
word-spacing: 1px;
margin-bottom: 0.5em;
border-radius: 300px;
outline:none;

}
span{color:rgb(22, 27, 22)}


.timer, .score, .no_bokit {
  padding: 0.3em 0.5em;
  background: #fff;
  border-radius: 50%;
}

.control-container{
  display: flex;
  align-items:center;
  justify-content:center;
}

button{padding:0.5em 1.3em;
margin: 0.2em;
font-size: 1rem;
border-radius: 300px;
border: 0;
outline:none;
color: white;
background-color:rgb(38, 150, 38);
}
.play:hover{
  background-color:rgba(27, 104, 27, 0.884);;
}
.reset:hover{
  background-color:rgba(161, 62, 25, 0.904)}

.reset{background-color:rgb(250, 111, 61);
}

.bokits{transform:scale(1,0);}

.bokits-active{
  transform:scale(1,1);
transform-origin: bottom;
transition: transform .5s linear;
}


/* Greeting Modal Container */
#greeting-modal {
  visibility: hidden;
  opacity: 0;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Greeting Modal Container - when open */
#greeting-modal:target {
  visibility: visible;
  opacity: 1;
}

/* Greeting Modal */
#greeting-modal .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: .2s;
}

/* Greeting Modal - when open */
#greeting-modal:target .modal {
transform: translateY(0);
opacity: 1;
}

/* Modal Container Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Background Styles */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
}

/* Modal Body Styles */
.modal {
  z-index: 1;
  background-color: white;
  width: 80%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 8px;
}

a{text-decoration: none;}

footer{ 
  bottom:0; 
  width:100%;
  padding-top:50px;
  height:50px; 
  }
